name: mobile_app
description: A new Flutter project for mobile application.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  provider: ^6.0.0
  http: ^1.1.0
  sqflite: ^2.3.0
  path: ^1.8.3
  shared_preferences: ^2.2.0
  webview_flutter: ^4.2.0 # For CMS integration

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
